.userManaee_btn_div{
    text-align: right;
    margin-right: 20px;
}
.organization_left_depart{
    /*overflow: hidden;*/
    float:left;
    background:#f7f7f7;
    padding:0;
    border:1px solid #eee ;
}
/*选中部门后的样式*/
.nav-pills > li.active> a{
    background:#edf1f2 !important;
    border-left:3px solid #5d9ceb !important;
}

.organization_conten{
    padding:0;
}
/******搜索******/
.organization_search {
    margin: 0;
}
.organization_search input {
    display:inline-block;
    width:75%;
    height: 36px;
}
.organization_search .organization_findButton {
    padding:0;
    display:inline-block;
    text-align:center;
    line-height:36px;
    width: 36px;
    height: 36px;
    margin-bottom:1px;
    margin-left:7px;
}
/*.input_search{*/
    /*font-size:12px;*/
    /*display:inline-block;*/
    /*border:1px solid #eee;*/
    /*!*border-radius:4px;*!*/
    /*line-height:36px;*/
    /*border-bottom-left-radius:4px;*/
    /*border-top-left-radius:4px;*/
    /*border-right:none;*/
    /*padding:0 10px;*/
    /*margin:0;*/
/*}*/
/*.button_search{*/
    /*display:inline-block;*/
    /*background: #fff;*/
    /*border:1px solid #eee;*/
    /*border-bottom-right-radius:4px;*/
    /*border-top-right-radius:4px;*/
    /*border-left:none;*/
    /*padding:1px 10px;*/
    /*margin-left:-10px;*/
    /*line-height:34px;*/
/*}*/


.organization_table td{
    color:#3d464d;
    font-size:12px;
    height:36px;
    line-height:19px;
}
.organization_thead td{
    font-size:12px;
    height:42px;
    line-height:26px !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #aaa;
}
.custom_selected{
    background:#eee;
    border-left:3px solid #00a8c6;
}
.customer_tr a:hover{
    background:#eee;
}
.a{
    color:#eee !important;
}

.c-radio span:before{
    top:-2px;
}
.c-radio span{
    width:16px;
    height:16px;
}
/* ------------------- start 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/
.level1{
    width:21px;
    text-align:center;
    height:100%;
}
.level1 i{ /* 当鼠标划过一级菜单时 */
    opacity:0.5;
}
.level1:hover i{ /* 当鼠标划过一级菜单时 */
    opacity:1;
}
.edit_nav1 { /* 鼠标划过时触发显示二级类别 */
    padding:0px;
    display:inline-block; /* 以块显示 */
    position: absolute;
    top:-1px; /* 相对于一级类别所在位置的顶端 */
    left:100%; /* 相对于一级类别显示的位置 */
    width:100px; /* 宽度 */
    border:#eee solid 1px;
    z-index:1;
    list-style: none;
}
.edit_nav1 li{ /* 鼠标划过时触发显示二级类别 */
    background-color:#fff; /* 定义背景色 */
    padding:5px 20px;
}
.edit_nav1 li:hover{
    background: #eee;
}
/* ------------------- end 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/

/* ------------------- start 针对 IE 的 CSS 弹出菜单 -------------------*/
/*.levelIe{   !* 定义一级类别属性 *!*/
    /*width:120px; !* 宽度 *!*/
    /*height:17px; !* 高度 *!*/
    /*position:relative; !* 显示位置为相对位置 *!*/
    /*display:block; !* 以块模式显示 *!*/
    /*background-color:#D8D8D8; !* 背景色 *!*/
    /*padding:0px 2px; !* 文字内补丁间隔 *!*/
    /*margin:0px 0px 1px 0px; !* 菜单外补丁间隔 *!*/
/*}*/
/*.levelIe .edit_nav { !* 鼠标划过时触发显示二级类别 *!*/
    /*display:block; !* 以块显示 *!*/
    /*left:124px; !* 相对于一级类别显示的位置 *!*/
    /*width:120px; !* 宽度 *!*/
    /*height:auto; !* 高度 *!*/
    /*top:0px; !* 相对于一级类别所在位置的顶端 *!*/
    /*background-color:#EFEFEF; !* 定义背景色 *!*/
    /*position:absolute; !* 位置为绝对位置 *!*/
/*}*/
/*.levelIe .edit_nav .edit_navtitle {*/
    /*!* 定义二级类别标题样式 *!*/
    /*font-weight:bold; !* 字体加粗 *!*/
    /*background-color:#A7ADFE; !* 背景色 *!*/
    /*color:white; !* 文字颜色 *!*/
/*}*/
/*.levelIe .edit_nav a:hover {*/
    /*!* 定义二级类别链接显示样式 *!*/
    /*background-color:#F83658; !* 背景色 *!*/
    /*color:white; !* 文字颜色 *!*/
/*}*/
/*.levelIe .edit_nav * {*/
    /*!* 定义所有二级类别通用属性 *!*/
    /*display:block; !* 以块显示 *!*/
    /*color:black; !* 文字颜色 *!*/
    /*padding:0px 2px; !* 内补丁间隔 *!*/
/*}*/
/* ------------------- end 针对 IE 的 CSS 弹出菜单 -------------------*/
.mouseover_opacity:hover{
    opacity:1;
    text-decoration: none;
    background:#fafbfc !important;
}
.mouseover_opacity{
    opacity:0.5;
}
.customer_tr:hover .mouseover_opacity1{
    opacity:1;
}
.mouseover_opacity1{
    opacity:0.5;
}
